* {
	font-family: 'Press Start 2P', cursive;
}


body {
	background-color: black;
}

h3 {
	color: white;
}
.panel-heading {
	font-size: 30px;
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	background-color: gray;
}

#background {
	height: 400px;
	widows: auto;
}

#ryu-left {
	position: absolute;
	right: 100px;
	height: 200px;
	width: auto;
	padding: 10px;

}

#charlie-right {
	position: absolute;
	left: 40px;
	height: 200px;
	width: auto;
	padding: 10px;
}

#game-screen {
	height: 200px;
	background-color: gray;
	color: black;
	text-align: center;
	font-size: 3em;

}

th {
	text-align: center;
	color: white;
}

td {
	text-align: center;
	color: white;
	font-size: 2em;
}