body {
	background-color: white;
}

h2 {
	text-align: center;
	background-color: gray;
}

#honda-left {
	position: absolute;
	right: 100px;
	height: 200px;
	width: auto;
	padding: 10px;

}

#honda-right {
	position: absolute;
	left: 100px;
	height: 200px;
	width: auto;
	padding: 10px;
}

#center-screen {
	background-color: black;
	height: 200px;
}